{% extends 'tltemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Task Form</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.employee.id_for_label }}">Employee</label>
                <select class="form-control"  id="{{ form.employee.id_for_label }}" name="{{ form.employee.name }}">
                    {% for value, text in form.employee.field.choices %}
                    <option value="{{ value }}">{{ text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="{{ form.project.id_for_label }}">Project</label>
                <select class="form-control"  id="{{ form.project.id_for_label }}" name="{{ form.project.name }}">
                    {% for value, text in form.project.field.choices %}
                    <option value="{{ value }}">{{ text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.deadline|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.priority|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
{% endblock %}