{% extends 'emptemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Employees</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone No.</th>
                    <th scope="col">Location</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                {% for i in emp %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><img src="{{i.photo.url}}"></td>
                    <td>{{i.user.email}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.mobile_number}}</td>
                    <td>{{i.location}}</td>
                    <td>{{i.position}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}